<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775140336608-neb1u8a450bst9tnnb6ocrotc2skrs73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775140336608-neb1u8a450bst9tnnb6ocrotc2skrs73</string>
	<key>API_KEY</key>
	<string>AIzaSyAZKiSnwCq17_w3vn0QGtGuC9-Wtdn1rns</string>
	<key>GCM_SENDER_ID</key>
	<string>775140336608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodies.customer</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-78bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-78bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775140336608:ios:29e4f137aabc2cb5548185</string>
</dict>
</plist>